body {
  font-family: 'Verdana';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CEFAD2;
  margin:0;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  background-color: #0C793D;
  display: block;
  height:25%;
  font-size: 140%;
  margin:0;
 
}

.Titulos{
font-size: 100px;
}
.button{
  background-color: #AE7D57;
  margin: 2%;
  font-size: 18px;
  width: 50%;
}
.formularios{
  margin: 3%;
}

.label2{
  font-size: 35px;
  border-top: 3%;
}
input{
  margin:3%;
}
.img3{
  padding:1px;
  border:2%;
  float: left;
}
.inline{
  display:inline;
}
.inline-block{
  display:inline-block;
}

.block{
  display:block;
}
.img1{
  margin: 3%;
}
.label3{
  margin-bottom: 8%;
  margin-top:8%;
 
}
.Menu{
  background-color: #0C793D;
  position: fixed;
  bottom:0;
  width:100%;
  padding-inline-start:0;
  
}
.btn2{
  margin-right: 6%;
  margin-left: 6%;

}
.btn4{
  margin-right: 6%;
  margin-left: 6%;
 
}
.btn4{
  margin-right: 6%;
  margin-left: 6%;

}
ul{
  padding-inline-start: 0px;
  margin-block-start: 2%;
  margin-block-end: 2%;
}
.imgM{
  
  margin-right: 4%;
  margin-left: 4%;
}
.Anadir{
  float: right;
  display:inline;
  background-color:#AE7D57;
  position:absolute;
  bottom:10%;
  border-radius: 50px;;
}

.Atras{
position: right;
}

.text_borde{
margin-left: 20px;
margin-right: 20px;

}

.Perfil{
  
  margin: 10%;
  float:left;
  display:block;
}

.label4{
  margin:7%
  
}
.buttonConf{
  color: black;
  margin-left:10%;
  float:left;
 
}
a{
  text-decoration: none;
}
.img4{
  float: right;
  margin-right: 10%;
}
