body {
  font-family: 'Verdana';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CEFAD2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  background-color: #0C793D;
  display: flex;
 
  height:20%;
  font-size: 15px;
}

.Titulos{
font-size: 30px;
}
button{
  background-color: #AE7D57;
  margin: 2%;
  font-size: 18px;
  width: 50%;
}
.formularios{
  margin: 4%;
}
label{
  font-size: 24px;
}

.label2{
  font-size: 35px;
}
input{
  margin:3%;
}
.img3{
  align-items: left;
  display:inline;
  padding:2%;
  border:2%;
}
.inline{
  display:inline;
  

}