body {
  margin: 0;
  font-family: 'Verdana';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CEFAD2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  background-color: #0C793D;
  display: block;
  align-items: center;
  min-height: 9%;
  max-height: 10%;
  font-size: 22px;
}

.imgP{
  display: block;
  align-items: center;
  margin-top:15%;
  margin-bottom: 10%;
}
.Titulos{
font-size: 30px;
}