body {
  font-family: 'Verdana';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #CEFAD2;
  
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header{
  background-color: #0C793D;
  display: block;
  margin: 0;
  height:25%;
  font-size: 140%;
  margin:0;
}

.Titulos{
font-size: 30px;
}
.button{
  background-color: #AE7D57;
  margin: 2%;
  font-size: 18px;
  width: 50%;
}
.formularios{
  margin: 3%;
}

.label2{
  font-size: 35px;
  border-top: 3%;
}
input{
  margin:3%;
}
.img3{
  padding:2%;
  border:1%;
  float: left;
}
.inline{
  display:inline;
}
.inline-block{
  display:inline-block;
}

.img1{
  margin: 3%;
}
.label3{
  margin-bottom: 8%;
  margin-top:8%;
  align:right;
}
.Menu{
  background-color: #0C793D;
  width:100%;
  position:bottom;
  float: bottom;
}
nav ul li{
  background:#AE7D57 ;
}