*{
box-sizing: border-box;
}

.loader-container{
position: relative;
width: 60px;
height: 60px;
margin: 10px;
}

.loader-container .loader{
position: absolute;
top: 100%;
left: 60%;
width: 300%;
height: 300%;
border: solid 4px transparent;
border-top-color: rgb(43, 255, 0);
border-left-color: rgb(43, 255, 0);
border-radius: 50%;
animation: loader 1.2s linear infinite;
}

.loader-container .loader2{
  position: absolute;
  top: 100%;
  left: 60%;
  width: 300%;
  height: 300%;
  border: solid 4px transparent;
  border-top-color: rgb(73, 40, 8);
  border-left-color: rgb(73, 40, 8);
  border-radius: 50%;
  animation: loader2 1.2s linear infinite;

  }

  .B_carga{
    width: 100%;
  }

@keyframes loader{
0%{
transform: translate(-50%, 50%) rotate(0deg);
}
100%{
  transform: translate(-50%, 50%) rotate(360deg);
  }
}

@keyframes loader2{
  0%{
  transform: translate(-50%, 50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, 50%) rotate(-360deg);
    }
  }